<div class="heading">
  <div class="d-flex mt-br">
    <%= image_tag("blog post 3.jpg", class: 'img-avatar') %>
    <div class="ml-2">
      <div class="fw5">Guys Customer</div>
      <span class="font-baloo">21 October, 2020</span>
    </div>
  </div>
  <div class="my-3 rating text-warning font-size-14">
    <span><i class="fas fa-xs fa-star"></i></span>
    <span><i class="fas fa-xs fa-star"></i></span>
    <span><i class="fas fa-xs fa-star"></i></span>
    <span><i class="fas fa-xs fa-star"></i></span>
    <span><i class="fas fa-xs fa-star"></i></span>
  </div>
  <div class="mt-2">
    <h6 class="font-baloo f2">Very Satisfy</h6>
    <p class="font-roboto"><%= comment.message %></p>
  </div>
  <div class="d-flex text-center mt-2">
    <div class="custom-btn-wide font-fredoka font-weight-lighter">Like</div>
    <div class="custom-btn-wide ml-3 font-fredoka font-weight-lighter">Answer</div>
  </div>
</div>
