<footer class="background-light text-semi-white">

  <div class="flex mx-5 py-4 child-pr-2-not-first w-9/12 mx-auto">

    <div class="w-3/12">
      <div class="break-bottom mt-4">
        <div>
          <%= image_tag("svg/logo.svg", class: "w-16 h-16") %>
        </div>
        <h6 class="f6 mt-2 font-elia text-blue-500 uppercase font-bold break-bottom">Ecommer</h6>
      </div>
      <div class="my-8">
        <p class="text-gray-800 f7">ECOMMER - worldwide online shop</p>
        <p class="text-gray-800 f7">We sell over 1000+ branded products</p>
      </div>
    </div>

    <div class="w-2/12">
      <div class="break-bottom mt-4">
        <h6 class="f6 font-josesans text-gray-900 uppercase font-bold break-bottom">Information</h6>
      </div>
      <div class="mt-8">
        <p class="text-gray-800 f7 my-4">New collection</p>
        <p class="text-gray-800 f7 my-4">About Store</p>
        <p class="text-gray-800 f7 my-4">Contact Us</p>
        <p class="text-gray-800 f7 my-4">Latest News</p>
        <p class="text-gray-800 f7 my-4">Our Sitemap</p>
        <p class="text-gray-800 f7 my-4">Order history</p>
      </div>
    </div>

    <div class="w-2/12">
      <div class="break-bottom mt-4">
        <h6 class="f6 font-josesans text-gray-900 uppercase font-bold break-bottom">Footer menu</h6>
      </div>
      <div class="mt-8">
        <p class="text-gray-800 f7 my-4">Instagram Profile</p>
        <p class="text-gray-800 f7 my-4">New Collection</p>
        <p class="text-gray-800 f7 my-4">Call Us</p>
        <p class="text-gray-800 f7 my-4">Latest Stories</p>
        <p class="text-gray-800 f7 my-4">Terms & Conditions</p>
        <p class="text-gray-800 f7 my-4">Purchase Products</p>
      </div>
    </div>

    <div class="w-2/12">
      <div class="break-bottom mt-4">
        <h6 class="f6 font-josesans text-gray-900 uppercase font-bold break-bottom">Shortcut Link</h6>
      </div>
      <div class="mt-8">
        <p class="text-gray-800 f7 my-4">Facebook Profile</p>
        <p class="text-gray-800 f7 my-4">New Product</p>
        <p class="text-gray-800 f7 my-4">Talk Us</p>
        <p class="text-gray-800 f7 my-4">Latest Products</p>
        <p class="text-gray-800 f7 my-4">Privacy Policy</p>
        <p class="text-gray-800 f7 my-4">Sell Products</p>
      </div>
    </div>

    <div class="w-3/12">
      <div class="break-bottom mt-4">
        <h6 class="f6 font-josesans text-gray-900 uppercase font-bold break-bottom">About Ecommer</h6>
      </div>
      <div class="my-8">
        <p class="text-gray-800 f7">ECOMMER - worldwide online shop</p>
        <p class="text-gray-800 f7">We sell over 1000+ branded products</p>
      </div>

      <p class="f7 my-4 text-gray-900">www.company.com</p>
      <div class="flex child-mx-2-not-first text-gray-900">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>

</footer>