<section class="w-100 mbr new-letter position-relative">
  <div class="container w-50 py-3 center-inner text-center">
    <h3 class="text-uppercase">NewLetter</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error modi nisi quasi rerum similique velit voluptates. Cum harum id, magnam nostrum officiis quaerat quasi quidem ratione saepe suscipit voluptate!</p>
    <label for="email">Your Email</label>
    <input class="w-100" name="email" type="email">
    <button class="my-3 btn background-black px-5 text-white py-2 font-weight-bold">Submit</button>
  </div>
</section>