<section class="w-100 mbr new-letter py-5 px-5">
  <div class="flex my-2 h-100">
    <div class="col-4">
      <%= image_tag("newsletter.jpg", class: "h-100 object-covert") %>
    </div>
    <div class="container w-50 py-3">
      <h3 class="font-fredoka">NewLetter</h3>
      <p class="f6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error modi nisi quasi rerum
        similique velit voluptates. Cum harum id, magnam nostrum officiis quaerat quasi quidem ratione saepe suscipit
        voluptate!</p>
      <div class="mt-2">
        <label for="email">Your Email</label>
        <input class="w-100" name="email" type="email">
        <button class="my-3 btn background-black px-5 text-white py-2 font-weight-bold">Submit</button>
      </div>

    </div>
  </div>
</section>