<div class="card">
  <%= image_tag("product 1.jpg", alt: "Product", class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title">Product Title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="rating text-warning font-size-14">
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
    </div>
    <p>$300.00</p>
    <button class="btn">Add To Cart</button>
  </div>
</div>