<section class="w-75 mx-auto mt-5 border-color-default border-solid border-1 rounded-md shadow-md py-3 pt-5 px-2">
  <div class="text-center d-flex justify-content-center mb-3">
    <h3> <span class="text-gray-500"> SHOPPING CART ></span> CHECKOUT <span class="text-gray-500"> > BUY</span></h3>
  </div>
  <%= render 'form', order: @order %>

<%#= link_to 'Back', orders_path %>
</section>
