<section class="w-75 mx-auto mt-5">
  <div class="text-center d-flex justify-content-center mb-3">
    <h3>SHOPPING CART <span class="text-gray-500">> CHECKOUT > BUY</span></h3>
  </div>
  <h3 class="font-weight-bold f5">Order Details</h3>
  <hr>
  <% @order_view.products.each do |product| %>
    <div class="d-flex justify-content-between align-items-center">
      <span class="text-gray-600 f6"><%= product.name %></span>
      <span class="font-weight-bold f5">$<%=p product.regular_price %></span>
    </div>
  <% end %>
  <hr class="mt-2">

  <!-- Subtotal -->
  <div class="d-flex justify-content-between align-items-center">
    <span class="text-gray-600 f6">Subtotal</span>
    <span class="font-weight-bold f5">$<%= @order_view.total %></span>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-2">
    <span class="text-gray-600 f6">Total</span>
    <span class="font-weight-bold f5"><%= @order_view.total %></span>
  </div>
  <hr class="mt-2">
  <!-- !Subtotal -->

  <div class="d-flex justify-content-start align-items-center">
    <label class="d-flex justify-content-center align-items-center m-0">
      <input type="checkbox" name="use_paypal">
      <span class="d-inline-block rounded-circle icon-size checkbox-size border-color-default border-1 checkbox-span mr-2"></span>
    </label>
    <span>Paypal</span>
  </div>
  <hr class="mt-2">

</section>