<%= render 'shared/nav' %>

<div class="container my-5">
  <div class="relative">
    <img src="https://pixabay.com/get/53e0d3434251aa14f6d1867dda293f7d123fdae4554c704f752f7ed4954fc25c_1920.jpg" alt="" class="w-full">
  </div>

  <div class="about-banner w-full container mx-auto p-0 justify-start flex">
    <div class="text-center my-auto text-white mx-auto w-50">
      <h3 class="title fw6">WHO WE ARE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eaque eligendi ex laudantium nostrum perferendis sunt tenetur ullam velit. Corporis distinctio ipsa iure minus, modi nam quisquam ut velit.
        Lorem ipsum dolor sit amet quidem quo sunt ut velit voluptas!</p>
      <div class="flex justify-center mx-auto">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="far fa-envelope"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </div>
  </div>
</div>

<h3 class="title fw6 text-center text-dark f3 uppercase">our goals</h3>

<div class="container my-5">
  <div class="relative">
    <img src="https://pixabay.com/get/55e4d6464957ac14f6da8c7dda293f7d123fdae4554c704f752f7ed4924cc65d_1280.jpg" alt="" class="w-full" style="height: 24rem">
  </div>j

  <div class="about-banner w-full container mx-auto p-0 justify-start flex my-3">
    <div class="flex mx-5 my-3">
      <div class="w-4/12 text-white text-center items-center">
        <div class="icon-border-thick d-inline-block p-2 rounded-circle my-4 text-center">
          <img src="https://demos.uxthemes.com/layouts/wp-content/uploads/sites/17/2017/03/diamond.png" class="my-auto"  alt="" width="32" height="32" style="color: #9e8b8b">
        </div>
        <h4 class="uppercase text-white fw7">Concept</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat….</p>
        <div class="background-blue d-inline-block text-white fw7 button-rounded">Click me!</div>
      </div>

      <div class="w-4/12 text-white text-center items-center">
        <div class="icon-border-thick d-inline-block p-2 rounded-circle my-4 text-center">
          <img src="https://demos.uxthemes.com/layouts/wp-content/uploads/sites/17/2017/03/diamond.png" class="my-auto"  alt="" width="32" height="32" style="color: #9e8b8b">
        </div>
        <h4 class="uppercase text-white fw7">Concept</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat….</p>
        <div class="background-blue d-inline-block text-white fw7 button-rounded">Click me!</div>
      </div>

      <div class="w-4/12 text-white text-center items-center">
        <div class="icon-border-thick d-inline-block p-2 rounded-circle my-4 text-center">
          <img src="https://demos.uxthemes.com/layouts/wp-content/uploads/sites/17/2017/03/diamond.png" class="my-auto"  alt="" width="32" height="32" style="color: #9e8b8b">
        </div>
        <h4 class="uppercase text-white fw7">Concept</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat….</p>
        <div class="background-blue d-inline-block text-white fw7 button-rounded">Click me!</div>
      </div>
    </div>

  </div>
</div>

