<section class="my-8">

  <section class="my-32 w-8/12 mx-auto">
    <div class="flex">
      <div class="w-6/12 mx-auto text-left">
        <div class="flex items-center">
          <span class="w-8 h-small bg-gray-500"></span>
          <p class="f6 ml-4 text-gray-500">About ECommer</p>
        </div>

        <h1 class="f3 font-bold font-josesans line-height-normal mt-2">We can provide varies products from digital
          products to edge
          tech products to scope with new demands and growing user base</h1>
        <p class="mx-auto mt-4 f7">
          Ecommer is company of multi national oneline shop including many high quality of new brand products including
          digital products, applications that can satisfy the demands of the hardest customer
        </p>

        <div class="block width-max px-8 py-2 mt-8 bg-white shadow-full rounded-full text-center f5 font-josesans color-fade cursor-pointer">
          Get started<i class="ml-2 fa fa-credit-card mr-3 duration-500"></i>
        </div>
      </div>
      <div class="w-5/12">
        <%= image_tag("svg/working.svg") %>
      </div>

    </div>

  </section>

  <section class="my-16 mx-auto w-8/12">
    <div class="flex items-center justify-between">
      <div class="w-5/12">
        <%= image_tag("svg/business_shop.svg") %>
      </div>
      <div class="w-6/12">
        <div class="flex items-center">
          <span class="h-small w-8 bg-gray-500"></span>
          <h6 class="f6 ml-4 font-bold text-gray-500 text-uppercase">Start with us</h6>
        </div>
        <h3 class="f3 font-josesans font-bold line-height-normal">Is your site driving sales of
          <span class="text-indigo-800">business</span></h3>
        <p class="mx-auto mt-4 f7">
          We provide excellent quality digital service with tangible results measurable long-term business
        </p>
        <div class="block width-max my-8 px-8 py-2 bg-white shadow-full rounded-full text-center f5 font-josesans color-fade cursor-pointer">
          Start now <i class="ml-2 fa fa-clock mr-3 duration-500"></i>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h1 class="f1 text-center font-bold font-josesans">About our company</h1>
      <p class="w-1/2 mx-auto mt-4 text-center">
        We provide simple, high quality and reasonable price products for worldwide market. Driven by a strong focus on
        innovation and customer-centricity, Ecommer has quickly grown to serve over two millions customers, shoppers and
        retainers on out platform
      </p>
    </div>
    <div class="mx-16 my-16">
      <img src="https://cdn.pixabay.com/photo/2015/05/15/14/22/conference-room-768441_1280.jpg" alt="" class="h-64 w-full object-cover rounded-extra-lg">
    </div>
  </section>

  <section class="mx-16 my-16">
    <div class="flex w-1/2 mx-auto">
      <div>
        <h6 class="f3 font-josesans text-center font-bold mt-8">Our features</h6>
        <p class="f6">In the 21st century</p>
      </div>
      <div class="w-32 h-32 ml-8 rounded-extra-lg shadow-full relative">
        <div class="center-inner">
          <i class="fas fa-dolly"></i>
          <p class="mt-2">Priority shipping</p>
        </div>
      </div>
      <div class="w-32 h-32 ml-8 rounded-extra-lg shadow-full relative">
        <div class="center-inner">
          <i class="fas fa-balance-scale-left"></i>
          <p class="mt-2">Free Returns</p>
        </div>
      </div>

    </div>
    <div class="flex w-1/2 mx-auto mt-4">
      <div class="w-32 h-32 ml-4 rounded-extra-lg shadow-full relative">
        <div class="center-inner">
          <i class="fas fa-user-cog"></i>
          <p class="mt-2">In Home Setup</p>
        </div>
      </div>
      <div class="w-32 h-32 ml-8 rounded-extra-lg shadow-full relative">
        <div class="center-inner">
          <i class="fas fa-highlighter"></i>
          <p class="mt-2">High quality</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <h1 class="f1 text-center font-bold font-josesans">Endless possibilities products</h1>
      <p class="w-1/2 mx-auto mt-4 text-center">
        Ecommer was among the first market to launch virtual card technology, enabling seamless integration for merchants
        while allowing out customers shop online and in-store with thousands of leading global shoppers
      </p>
    </div>
    <div class="mx-16 bg-product-img rounded-md shadow-md">
      <div class="flex flex-col lg:flex-row mt-16 justify-center items-center flex-cols-3 flex-wrap lg:flex-no-wrap">
        <div class="pl-0 lg:pl-16 mt-8">
          <h3 class="mx-auto font-josesans font-bold">SAMSUNG PHONE</h3>
          <div class="mx-auto lg:ml-4 rounded-circle w-24 h-24 bg-black mt-8 flex flex-col justify-center items-center">
            <span class="material-icons text-white flip-x">north_east</span>
            <p class="text-white h6 font-josesans mt-2">Shop now</p>
          </div>
        </div>
        <div class="bg-product-img mt-auto relative">
          <div>
            <%= image_tag("phone_sss20.jpg", class: "mix-blend-darken w-9/12 h-75 m-auto") %>
          </div>
          <div class="bg-white absolute bottom-1/8 right-4 rounded-circle w-24 h-24 flex justify-center flex-col items-center">
            <span class="material-icons">north_east</span>
            <p class="text-right font-josesans h6 mt-2">Get now</p>
          </div>
        </div>
        <div class="my-4 lg:mt-16">
          <p class="font-weight-light f6 w-full lg:w-9/12 text-center lg:text-right">
            The SS10 features a 25% battery (than SS9) 7.9' screen with AMOLED color full-touch display with adjustable brightness so everything
            is clear as it can be
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="my-16">
    <div>
      <h1 class="f1 text-center font-bold font-josesans">Our members</h1>
      <p class="w-1/2 mx-auto mt-4 text-center">
        Join us in the excellent quality business all over the world
      </p>
    </div>
    <div class="flex w-2/3 mx-auto my-16 justify-center">

      <div class="mx-4 text-center w-24">
        <div class="w-24 h-24 rounded-circle overflow-hidden">
          <img src="https://cdn.pixabay.com/photo/2016/11/29/13/14/attractive-1869761__340.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <h3 class="mt-4 font-bold font-josesans">Darrel Mary</h3>
        <p class="mt-2 color-fade">Contact</p>
      </div>

      <div class="mx-4 text-center w-24">
        <div class="w-24 h-24 rounded-circle overflow-hidden">
          <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/man-2785071__480.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <h3 class="mt-4 font-bold font-josesans">James Smith</h3>
        <p class="mt-2 color-fade">Contact</p>
      </div>

      <div class="mx-4 text-center w-24">
        <div class="w-24 h-24 rounded-circle overflow-hidden">
          <img src="https://cdn.pixabay.com/photo/2016/02/19/10/56/man-1209494__480.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <h3 class="mt-4 font-bold font-josesans">Patricia David</h3>
        <p class="mt-2 color-fade">Contact</p>
      </div>
      <div class="mx-4 text-center w-24">
        <div class="w-24 h-24 rounded-circle overflow-hidden">
          <img src="https://cdn.pixabay.com/photo/2019/04/16/23/59/sad-4133121__480.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <h3 class="mt-4 font-bold font-josesans">John Williams</h3>
        <p class="mt-2 color-fade">Contact</p>
      </div>
      <div class="mx-4 text-center w-24">
        <div class="w-24 h-24 rounded-circle overflow-hidden">
          <img src="https://cdn.pixabay.com/photo/2020/03/20/18/52/fashion-4951644__480.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <h3 class="mt-4 font-bold font-josesans">Robert Johnson</h3>
        <p class="mt-2 color-fade">Contact</p>
      </div>

    </div>

  </section>

  <section>
    <h1 class="f1 text-center font-bold font-josesans">Have something want to buy <br>Let <u>Shopping</u></h1>
    <div class="w-2/12 px-8 mt-8 py-2 bg-white shadow-full rounded-full mx-auto text-center f5 font-josesans color-fade cursor-pointer">
      Shopping <i class="fa fa-shopping-bag mr-3 duration-500"></i>
    </div>
  </section>
</section>