<section class="my-8">
  <section>
    <div>
      <h1 class="f1 text-center font-bold font-josesans">Let us know how we can help</h1>
    </div>

    <div class="flex w-2/3 mx-auto my-16 justify-center">

      <div class="mx-4 text-center w-2/12">
        <div class="mx-auto w-12 h-12 rounded-circle overflow-hidden bg-gray-900 relative">
          <i class="fas fa-envelope center-inner text-white"></i>
        </div>
        <p class="mt-2 color-fade f6">noone@mail.net</p>
      </div>

      <div class="mx-4 text-center w-5/12">
        <div class="mx-auto w-12 h-12 rounded-circle overflow-hidden bg-gray-900 relative">
          <i class="fas fa-map-marker-alt center-inner text-white"></i>
        </div>
        <p class="mt-2 color-fade f6">3998 Beechwood Drive, Pittsburgh, Pennsylvania</p>
      </div>
      <div class="mx-4 text-center w-2/12">
        <div class="mx-auto w-12 h-12 rounded-circle overflow-hidden bg-gray-900 relative">
          <i class="fas fa-phone center-inner text-white"></i>
        </div>
        <p class="mt-2 color-fade f6 f6">028 323 183</p>
      </div>

    </div>

    <div class="w-2/12 px-8 py-2 bg-white shadow-full rounded-full mx-auto text-center f5 font-josesans color-fade cursor-pointer">
      Send Request <i class="fa fa-location-arrow mr-3 duration-500"></i>
    </div>
  </section>

  <section class="m-16">
    <div class="flex">
      <div class="w-full">
        <h1 class="f2 font-josesans">Get in touch with us to get the latest products</h1>
        <p class="f6">Feel free subscribe to send us question and receive notifications</p>
      </div>
      <div class="w-full shadow-full bg-gray-200 rounded-md p-8">
        <%= simple_form_for :form, class: "w-full my-2" do |f| %>

          <div class="flex justify-between">
            <div class="max-w-xs relative">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: {autocomplete: "email", class: "w-full px-4 py-3 rounded-lg font-medium bg-gray-100 border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:shadow-md focus:border-gray-400 focus:bg-white my-2"},
                          label_html: {class: "hidden"},
                          placeholder: "Email"

              %>
            </div>
            <div class="max-w-xs relative">
              <%= f.input :name,
                          required: true,
                          input_html: {autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg font-medium bg-gray-100 border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:shadow-md focus:border-gray-400 focus:bg-white my-2"},
                          label_html: {class: "hidden"},
                          placeholder: "Name"
              %>
            </div>
          </div>

          <div class="">
            <%= f.input :message,
                        as: :text,
                        required: true,
                        input_html: {autocomplete: "new-password", class: "w-full px-4 py-3 rounded-lg font-medium bg-gray-100 border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:shadow-md focus:border-gray-400 focus:bg-white my-2"},
                        label_html: {class: "hidden"},
                        placeholder: "Message"
            %>
          </div>

          <div class="w-5/12 ml-auto px-8 py-2 mt-4 bg-white shadow-full rounded-full text-center f5 font-josesans color-fade cursor-pointer">
            Subscribe
          </div>
        <% end %>
      </div>
    </div>
  </section>

</section>