/* app/javascript/stylesheets/application.scss */
//noinspection CssUnknownTarget
//@import "tailwindcss/base";
//noinspection CssUnknownTarget
//@import "tailwindcss/components";

@import "fonts";
@import "suggestags";
//@import "bootstrap";
//@import "bootstrap-tagsinput";
@import "home";
//@import "font-awesome-sprockets";
//@import "font-awesome";
@import "products";
@import "function";
@import "animation";
@import "about";
@import "contact";

@import "toastr";

@import "slider";
// You can add your own custom components/styles here
//noinspection CssUnknownTarget
//@import "tailwindcss/utilities";

:root {
  --colorHoverPrimary: #907406;
  --colorBorderLightPrimary: #efefef;
  --borderWidthSmallLight: 1px solid #474b4b;
  --borderWidthMediumLight: 1.5px solid #474b4b;
  --borderWidthThickLight: 2px solid #474b4b;
  --boderColorDefault: #cccccc;
  --borderColorChecked: #2cc185;
}

body {
  width: 100vw !important;
  overflow-x: hidden;
  font-family: 'Roboto', serif;
  //color: #686666;
  color: #363636;
}

p {
  margin: 0;
}

.fa, .fas {
  vertical-align: middle;
}

.icon-border-thick {
  border: 3px solid #d4c9c9;
}


.notice-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(125, 216, 212, .85);
}

.notice {
  padding: 1.25rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #EFEFEF;
}

.link-no-style:hover {
  text-decoration: none;
}

.link-no-style {
  color: inherit;
  text-decoration: none;
}

.link-no-style:hover {
  text-decoration: none;
  color: inherit;
}

.font-josesans {
  font-family: 'JoseSans', serif;
}

.font-script {
  font-family: 'font-intro', Helvetica, Arial, sans-serif;
}

.font-elia {
  font-family: 'elia', serif;
}

.font-intro {
  font-family: 'intro', serif;
}

.font-baloo {
  font-family: 'Markazi Text', serif;
}

.child-p-font-baloo > p {
  font-family: 'Markazi Text', serif;
}

.font-fredoka {
  font-family: 'Inconsolata', monospace;
}

.child-p-font-fredoka > p {
  font-family: 'Inconsolata', monospace;
}

.font-roboto {
  font-family: 'Roboto', serif;
}

.child-p-font-vibes > p {
  font-family: 'Roboto', serif;
}

.color-palate {
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid #ece4e4;
}

.text-color-subtitle-dark {
  color: #3c3e3c;
}

.img-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.img-avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


.img-avatar-size {
  width: 48px;
  height: 48px;
}

.img-avatar-size-big {
  width: 128px;
  height: 128px;
}

.img-avatar-size-small {
  width: 32px;
  height: 32px;
}

.background-auth {
  background-image: url("../images/auth/auth.svg");
}

.background-login {
  background-image: image_url("~images/auth/login.svg");
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: .5rem;
  vertical-align: middle;
}

//input[type="number"],
//input[type="text"],
//input[type="email"],
//input[type="text"],
//input[type="tel"],
//input[type="password"],
//input[type='date'],
input,
textarea {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.56);
  border: 1.5px solid #cccccc;
  padding: 8px 8px;
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type='date']:focus,
textarea:focus {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203,213,224,var(--border-opacity));
}

input[type="number"].border-b,
input[type="text"].border-b,
input[type="email"].border-b,
input[type="text"].border-b,
input[type="tel"].border-b,
input[type="password"].border-b,
input[type='date'].border-b,
textarea.border-b {
  border: none;
  padding: 2px 8px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203,213,224,var(--border-opacity));
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label.checkbox {
  font-weight: 200;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.cart-popup::after {
  content: '';
  border: 10px solid transparent;
  border-bottom-color: white;
  top: -1.25rem;
  right: 3rem;
  position: absolute;
  transition: 1s;
}

#cart-popup-container {
  transition: 2s ease-in-out;
  display: none;
}

hr {
  height: inherit !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.navbar ul li {
  margin: 0 .5rem;
  color: white;
  list-style: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
{
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
{
  color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */
}
