@font-face {
  font-family: 'intro';
  src: url('../fonts/IntroScriptDemo-Medium.otf');
}

@font-face {
  font-family: 'elia';
  src: url("../fonts/SantEliaScript-BoldDEMO.otf");
}

@font-face {
  font-family: 'JoseSans';
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}