<div class="flex flex-grow-1 w-full my-8 form-add-attributes">
  <div class="control w-4/12 mt-2">
    <div>
      <label class="text optional label text-left p-0 flex" for="product-attribute-name">Name</label>
      <textarea class="product-attributes-name text optional input flex flex-grow-1 w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800" name="product_attribute[name]" id="product-attribute-name" placeholder="Name"></textarea>

      <%#= form_save_attr.input :name, multiple: true, label: "Name", required: false,
                                                           input_html: {class: "input flex flex-grow-1 w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label text-left p-0 flex"} %>

      <!-- Attrs Visible -->
      <div class="flex justify-content-start align-items-center mt-3">
        <label class="flex justify-center align-items-center m-0">
          <input type="checkbox" name="use_paypal">
          <span class="d-inline-block rounded-circle icon-size checkbox-size border-color-default border-1 checkbox-span mr-2"></span>
        </label>
        <span class="f7">Visible on product page</span>
      </div>
      <!-- !Attrs Visible -->

      <!-- Used for variations products -->
      <div class="flex justify-content-start align-items-center mt-3">
        <label class="flex justify-center align-items-center m-0">
          <input type="checkbox" name="use_paypal">
          <span class="d-inline-block rounded-circle icon-size checkbox-size border-color-default border-1 checkbox-span mr-2"></span>
        </label>
        <span class="f7">Used for variations</span>
      </div>
      <!-- !Used for variations products -->
    </div>

  </div>
  <div class="control flex-grow-1 ml-1 mt-2 flex flex-column justify-content-start">
    <%#= form_save_attr.input :value, multiple: true, label: "Value (separate by |)", required: false, :as => :text,
                                                         input_html: {class: "input flex flex-grow-1 w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800"}, wrapper: false, label_html: {class: "label text-left p-0 flex"} %>

    <label class="text optional label text-left p-0 flex" for="product-attribute-value">Value
      (separate by |)</label>
    <textarea placeholder="Value1|Value2|..." class="product-attributes-value text optional input flex flex-grow-1 w-full py-2 rounded-lg font-medium bg placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white placeholder-gray-800" name="product_attribute[value]" id="product-attribute-value"></textarea>
  </div>

</div>