<% if sale_price.nil? || sale_price.blank? %>
  <h6 class="font-baloo f2"><%= regular_price %></h6>
<% else %>
  <h6 class="font-baloo f2"><%= sale_price %></h6>
  <h6 class="font-baloo ml-3 f3 flex justify-center flex-column">
    <del><%= regular_price %></del>
  </h6>
<% end %>
