<section id="product-quick-view" class="center-inner relative position-fixed fixed-imp z-50 w-screen h-screen" style="background: rgba(12,12,12,0.4)">
  <div class="center-inner w-7/12 bg-white px-2 py-6 rounded-md shadow-md border-2 position-fixed z-50">
    <div class="flex relative">
      <div class="w-5/12">
        <%= render 'product_images_carousel', product: @product %>
      </div>
      <div class="ml-3">
        <h5 class="font-baloo font-size-20 f1 fw8 line-height-normal mb-0 text-left"><%= @product.name %></h5>
        <div class="flex" id="product-price-container">
          <%= render 'product_price', regular_price: @product.regular_price_text, sale_price: @product.sale_price_text %>
        </div>

        <div class="flex">
          <div class="rating text-warning font-size-14">
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="fas fa-xs fa-star"></i></span>
            <span><i class="far fa-xs fa-star"></i></span>
          </div>
          <div>
            <span class="px-2 font-rale f6">4.4 / 5 &nbsp; (800 reviewers)</span>
          </div>
        </div>
        <hr class="m-0">

        <%= render 'form_add_to_cart', product: @product %>

      </div>
    </div>
  </div>
</section>
