<section class="mx-16 bg-product-img rounded-md shadow-md">
  <div class="flex flex-cols-3">
    <div class="pl-16 mt-8">
      <h3 class="font-josesans font-bold">SAMSUNG PHONE</h3>
      <div class="rounded-circle w-24 h-24 bg-black mt-8 flex flex-col justify-center items-center">
        <span class="material-icons text-white flip-x">north_east</span>
        <p class="text-white h6 font-josesans mt-2">Shop now</p>
      </div>
    </div>
    <div class="bg-product-img mt-auto relative">
      <div>
        <%= image_tag("phone_sss20.jpeg", class: "mix-blend-darken w-75 h-75") %>
      </div>
      <div class="bg-white absolute bottom-1/8 right-4 rounded-circle w-24 h-24 flex justify-center flex-col items-center">
        <span class="material-icons">north_east</span>
        <p class="text-right font-josesans h6 mt-2">Get now</p>
      </div>
    </div>
    <div class="mt-16">
      <p class="font-weight-light f6 w-9/12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
        assumenda atque consectetur, corporis
        cupiditate delectus eaque est ex excepturi facere, magnam, mollitia neque officia optio provident quisquam
        repudiandae temporibus vero?</p>
    </div>
  </div>
</section>