<section class="mx-16 bg-product-img rounded-md shadow-md">
  <div class="flex flex-col lg:flex-row justify-center items-center flex-cols-3 flex-wrap lg:flex-no-wrap">
    <div class="pl-0 lg:pl-16 mt-8">
      <h3 class="mx-auto text-center font-josesans font-bold">SAMSUNG PHONE</h3>
      <div class="mx-auto lg:ml-4 rounded-circle w-24 h-24 bg-black mt-8 flex flex-col justify-center items-center">
        <span class="material-icons text-white flip-x">north_east</span>
        <p class="text-white h6 font-josesans mt-2">Shop now</p>
      </div>
    </div>
    <div class="bg-product-img mt-auto relative">
      <div>
        <%= image_tag("phone_sss20.jpeg", class: "mix-blend-darken w-9/12 h-75 m-auto") %>
      </div>
      <div class="bg-white absolute bottom-1/8 right-4 rounded-circle w-24 h-24 flex justify-center flex-col items-center">
        <span class="material-icons">north_east</span>
        <p class="text-right font-josesans h6 mt-2">Get now</p>
      </div>
    </div>
    <div class="my-4 lg:mt-16">
      <p class="font-weight-light f6 w-full lg:w-9/12 text-center lg:text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
        assumenda atque consectetur, corporis cupiditate delectus eaque est ex excepturi facere, magnam</p>
    </div>
  </div>
</section>